header {
    width: 100%;
    border-bottom: 1px black solid;
}

footer {
    width: 98%;
    border-top: 1px black solid;
}

.activity-container {
    background-image: url(../images/helicopters.jpg);
    background-position: center;
    background-size: cover;
}

h1, .carousel-container, footer, .picture {
    position: relative;
}

h1, .carousel-container, footer, .activity-container::before, .prev, .next {
    z-index: 1;
}

.activity-container::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); 
}

h1 {
    color: white;
    font-size: 2rem;
    margin-top: 1%;
}

#helicopter, #sunset, #nature {
    display: none
}

.carousel-container, .picture, .text-box, #helicopter.active, #sunset.active, #nature.active {
    display: flex;
}

.picture, .text-box {
    justify-content: center;
}

.picture {
    height: 3rem;
    z-index: 2;
    transform: translate(-260%, 180%);
}

.main-img {
    height: 18rem;
}

.text-box {
    flex-direction: column;
    align-items: center;
    width: 28rem;
    margin: 0 3%;
    padding-top: 5%;
    color: white;
}

.text-box p {
    width: 100%;
    text-align: justify;
}

#helicopter.active, #sunset.active, #nature.active {
    padding-left: 2%;
    margin: 5% 0%;
}

.prev, .next { 
    cursor: pointer;
    margin-right: 60%;
}


/* RESPONSIVENESS */

/* Drogon PC */
@media screen and (max-width: 1940px) {
    .activity-container {
        height: 35rem;
    }

    .picture {
        transform: translate(-360%, 180%);
    }

    .main-img {
        height: 23rem;
    }

    .text-box {
        width: 40rem;
        margin: 0 10%;
    }

    #helicopter.active, #sunset.active, #nature.active {
        padding-left: 5%;
    }
}

/* Standard Desktop */ 
@media screen and (max-width: 1440px) {
    .activity-container {
        height: 34rem;
    }

    .activity-container::before {
        top: 4.8rem;
    }

    .main-img {
        height: 18rem;
    }
}

@media screen and (max-width: 1370px) {
    .activity-container {
        height: 38rem;
    }

    .activity-container::before {
        top: 4.7rem;
    }

    .main-img {
        height: 25rem;
    }

    .picture {
        transform: translate(-270%, 240%);
    }

    .text-box {
        width: 30rem;
        margin: 0 5%;
    }
}

/* Standard Laptop */ 
@media screen and (max-width: 1280px) {
    .activity-container {
        height: 36rem;
    }
    
    .picture {
        transform: translate(-230%, 240%);
    }

    .text-box {
        width: 25rem;
    }
}

@media screen and (max-width: 1024px) {
    .activity-container {
        height: 28rem;
    }

    .activity-container::before {
        top: 4.6rem;
    }
    
    .picture {
        transform: translate(-230%, 140%);
    }

    .main-img {
        height: 18rem;
    }
}

@media screen and (max-width: 932px) {
    .activity-container {
        height: 21rem;
    }

    .activity-container::before {
        top: 4.3rem;
    }

    .main-img {
        height: 14rem;
    }

    .text-box {
        font-size: smaller;
        margin-top: 8%;
    }
}

/* Standard Tablet */
@media screen and (max-width: 912px) {
    .activity-container {
        height: 23rem;
    }

    .activity-container::before {
        top: 4.4rem;
    }

    .menu-items {
        z-index: 2;
    }
    
    .main-img {
        height: 15rem;
    }

    .text-box {
        width: 23rem;
        margin: 0 3%;
        padding-top: 10%;
    }
    
    .text-box p {
        width: 80%;
        font-size: smaller;
    }

    .picture {
        transform: translate(-210%, 130%);
    }
}

@media screen and (max-width: 900px) {
    .activity-container {
        height: 21rem;
    }
}

@media screen and (max-width: 860px) {
    .text-box {
        width: 20rem;
        margin: 0 2%;
    }

    .picture {
        transform: translate(-190%, 110%);
    }
}

@media screen and (max-width: 844px) {
    .main-img {
        height: 13rem;
    }

    .activity-container {
        height: 20rem;
    }

    footer {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .activity-container {
        height: 20rem;
    }

    .text-box {
        width: 20rem;
        margin: 0 2%;
    }

    .picture {
        transform: translate(-190%, 80%);
    }

    .main-img {
        height: 13rem;
    }
}

@media screen and (max-width: 740px) {
    .activity-container {
        height: 18rem;
    }

    .main-img {
        height: 11rem;
    }

    .text-box {
        font-size: smaller;
        margin-top: 5%;
    }
}

/* Standard Mobile */
@media screen and (max-width: 540px) {
    .activity-container h1 {
        font-size: 1.5rem;
        margin-bottom: 17%;
    }

    .picture {
        height: 2.5rem;
        transform: translate(-300%, -130%);
    }

    .activity-container {
        height: 28.5rem;
    }
    
    .activity-container::before {
        height: 100%;
        top: 4.25rem;
    }

    #helicopter.active, #sunset.active, #nature.active {
        flex-direction: column;
        align-items: center;
        padding: 4% 12%;
        margin: 0;
    }

    .main-img {
        height: 14rem;
    }

    .carousel-container .text-box {
        padding: 0;
        width: 100%;
        font-size: smaller;
    }

    .carousel-container .text-box h2 {
        font-size: 1rem;
        margin: 2% 0;
    }

    .carousel-container .text-box p {
        width: 100%;
        padding-bottom: 1%;
        margin: 0;
    }
}

@media screen and (max-width: 440px) {
    .activity-container {
        height: 40rem;
    }

    .picture {
        transform: translate(-250%, -50%);
    }

    #helicopter.active, #sunset.active, #nature.active {
        padding: 20% 7%;
    }

    .main-img {
        height: 13rem;
    }

    .carousel-container .text-box h2 {
        margin: 5% 0;
    }
}

@media screen and (max-width: 415px) {
    .activity-container {
        height: 41rem;
    } 
}

@media screen and (max-width: 400px) {
    .activity-container {
        height: 35.5rem;
    }

    .main-img {
        height: 12rem;
    }

    .picture {
        transform: translate(-220%, -50%);
    }

    #helicopter.active, #sunset.active, #nature.active {
        padding: 20% 6%;
    } 
}

@media screen and (max-width: 380px) {
    .activity-container {
        height: 31rem;
    }

    .main-img {
        height: 11rem;
    }

    #helicopter.active, #sunset.active, #nature.active {
        padding: 20% 8%;
    } 
}

@media screen and (max-width: 360px) {
    .activity-container {
        height: 30rem;
    }

    #helicopter.active, #sunset.active, #nature.active {
        padding: 20% 6%;
    } 
}

@media screen and (max-width: 344px) {
    .activity-container {
        height: 37.5rem;
    }

    .picture {
        transform: translate(-200%, 40%);
    }

    #helicopter.active, #sunset.active, #nature.active {
        padding: 40% 4%;
    } 
}